@font-face {
    font-family: 'vazir';
	font-style: normal;
	font-weight: 100;
	font-display: swap;
    src: url(https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/Vazir-Regular.woff2) format('woff2'), url(https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/Vazir-Regular.woff) format('woff');
}


body {  font-family: 'vazir', sans-serif; }


.block {
    width: 100%;
    display: flex;
    flex-direction: row;
}

span.cell {
    background-color: indigo;
    cursor: pointer;
    border: 1px solid gray;
    font-weight: bold;
    color: white;
    text-align: center;    
    font-size: 1.6em;
    width: 20%;
    margin: 2px;
}

span.cell:hover {
    background-color: rgb(52, 4, 87);
}

.hidden { visibility: hidden; }


.bg-whatsapp { color: #4AC959; }
.bg-telegram { color: #0088CC ; }
.bg-facebook { color: #3b5998; }
.bg-twitter {color: #1DA1F2; }
.navbar-dark {
    color: #fff;
    background-color: #22272c;
}
