@font-face {
    font-family: vazir;
    src: url("https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/Vazir-Regular.woff2") format(woff2), url("https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/Vazir-Regular.woff") format(woff);
}

*,
*::before,
*::after {
  font-family: vazir;
}


.block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

span.cell {
    background-color: indigo;
    cursor: pointer;
    border: 1px solid gray;
    font-weight: bold;    
    color: white;
    text-align: center;    
    font-size: 1.6em;
    flex: 1;
}

span.cell:hover {
    background-color: rgb(52, 4, 87);
}


.bg-whatsapp { color: #4AC959; }
.bg-telegram { color: #0088CC ; }
.bg-facebook { color: #3b5998; }
.bg-twitter {color: #1DA1F2; }